@import 'Variables';

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__image {
  width: 280px;
}
.detail__image--photo {
  width: 100%;
}
.detail__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
}
.detail__info--title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.detail__info--subtitle {
  font-size: 15px;
}
.detail__info--description {
  font-size: 12px;
}
.detail__btn {
  margin-top: 20px;
  font-size: 18px;
  color: $color6;
}
.title {
  font-size: 15px;
  font-weight: bold;
  color: $color6;
}
