@import 'Variables';

.comic {
  width: 80px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic:hover {
  opacity: 0.4;
  cursor: pointer;
}

.comic:active {
  transition: all 0.1s ease-in-out;
  transform: scale(0.9);
}

.comic__image {
  width: 80px;
}
.comic__image--photo {
  width: 100%;
}

.comic__title {
  font-size: 10px;
  text-transform: uppercase;
  color: $color6;
}

@media all and (min-width: 768px) {
  .comic {
    width: 120px;
    margin: 10px;
  }
  .comic__image {
    width: 120px;
  }
  .comic__title {
    font-size: 13px;
  }
}

@media all and (min-width: 1280px) {
  .comic {
    width: 140px;
    margin: 10px;
  }
  .comic__image {
    width: 140px;
  }
  .comic__title {
    font-size: 13px;
  }
}
