@import 'Variables';

.comic {
  width: 140px;
  height: 210px;
  //   padding: 20px;
  border: solid red 1px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
}

.comic:hover {
}

.comic:active {
}

.comic__image {
  width: 140px;
}
.comic__image--photo {
  width: 100%;
}

.comic__title {
  font-size: 10px;
  text-transform: uppercase;
  margin: 10px;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
