@import 'Variables';

.containerFill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.containerFill__submit {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: $color6;
  border: none;
  background-color: transparent;
}

@media all and (min-width: 768px) {
  .containerFill__submit {
    font-size: 20px;
  }
}

@media all and (min-width: 1280px) {
}
