@import 'Variables';

.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
}

.containerFooter__icons {
  color: $color6;
  font-size: 18px;
}

.containerFooter__icons--link {
  margin: 10px;
}
.containerFooter__icons--link:hover {
  color: $color1;
}

.containerFooter__copy {
  color: $color6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
}

@media all and (min-width: 768px) {
  .containerFooter {
    margin-top: 60px;
  }
}

@media all and (min-width: 1280px) {
}
