@import 'Variables';

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
