@import 'Variables';
.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.containerHeader__title {
  color: $color6;
  font-size: 40px;
  text-transform: capitalize;
}
.containerHeader__subtitle {
  color: $color6;
  font-size: 15px;
  font-weight: 200;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 10px;
}
.menu__item {
  text-transform: uppercase;
  margin-left: 5px;
}

@media all and (min-width: 768px) {
  .containerHeader__title {
    font-size: 60px;
  }
  .containerHeader__subtitle {
    font-size: 20px;
  }
}

@media all and (min-width: 1280px) {
}
