@import 'Variables';
.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.containerHeader__title {
  font-size: 50px;
  text-transform: capitalize;
}
.containerHeader__subtitle {
  font-size: 20px;
  font-weight: 200;
}
